:host {
  font-family: 'Roboto', sans-serif;
  margin: 3rem;
  display: block;
}

#logo {
  max-width: 300px;
  margin-bottom: 20px;
}

#store-container {
  display: flex;
  justify-content: space-evenly;
}

.store-logo {
  max-width: 200px;
  max-height: 200px;
  /* box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); */
  padding: 1rem;
  border-radius: 21px;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.store-logo:hover {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 1px 3px rgba(0, 0, 0, 0.22);
}

h1 {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 2rem;
}

h2 {
  color: #ffffff;
}

h3 {
  color: #e0e0e0;
}

p, li {
  color: #e0e0e0;
}

a {
  color: #b04616;
}

#intro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

blockquote {
  font-style: italic;
  color: #e0e0e0;
  text-align: center;
  max-width: 600px;
  margin: 0;
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 450px) {
  blockquote {
    font-size: 0.85rem;
    text-align: justify;
  }

  .store-logo {
    max-width: 30vw;
    max-height: 30vw;
  }
}
